<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Res</title>
</head>
<body>
<form th:action="@{calc}" th:object="${calculator}" method="post">
    <div class="form-group">
        <label> First num :
            <input type="text"
                   th:field="*{firstNumber}"/>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label> Second num :
            <input type="text"
                   th:field="*{secondNumber}"/>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label> Operation :
            <input type="text"
                   placeholder="Enter operation"
                   th:field="*{expression}"/>
        </label>
    </div>
    <br>
    <div><input type="submit" value="Calculate"/></div>
</form>
<br/>
<p th:text="${result}"></p>
</body>
</html>